body { 
    text-align: center;
    height: 500px;
    width: 800px;
    border: 3px dashed grey;
}

/* .title-wrap {
    height: 500px;
    width: 750px;
} */

.companyDetails{
    color: red;
    font-size: 3vw;
    text-align: center;
}

.paragraph{
    font-size: 2vw;
}

.closing{
    font-size: 1vw;
}

#userConfirm{
    font-size: medium;
    display: none;
}

/* media query */
/* screen sizes 400px - 500px width */
@media screen and (min-width: 350px) and (max-width: 500px) {
    
.companyName-1{
    color: red;
    font-size: 5vw;
    text-align: center;
    height: 75%;
    width: 75%;
    border: 3px dashed purple;
}

}

#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 600%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}
#slider figure img {
    width: 16.66%;
    float: left;
}
@keyframes slider {
    0% {
        left: 0;
    }
    16% {
        left: 0;
    }
    21% {
        left: -100%;
    }
    41% {
        left: -100%;
    }
    46% {
        left: -200%;
    }
    66% {
        left: -200%;
    }
    71% {
        left: -300%;
    }
    76% {
        left: -300%;
    }
    86% {
        left: -400%;
    }
    91% {
        left: -400%;
    }
    100% {
        left: -500%;
    }
}